<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SAKUHINSHU</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Sawarabi+Gothic" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/imgs/favicon-16x16.png">

</head>
<body>
  <a href="#">
  <nav class="center-hrizontal">
    <div class="left-content">
      <a href="/">SAKUHINSHU</a>
    </div>
    <div class="right-content">
      <% if current_user.nil? %>
        <a href="/signup">新規登録</a>
        <a href="/signin">ログイン</a>
      <% else %>
        <%# ここにプロフィールへのリンクが入る %>

        <a href="/new"><i class="far fa-edit"></i></a>
        <a href="/search"><i class="fas fa-search"></i></a>
      <% end %>
    </div>
  </nav>
  <%= yield %>
  <footer>
    <a href="/signout">ログアウト</a>
  </footer>
</body>
</html>