<main>
  <section class="center-vertical">
    <h1>新規登録</h1>
    <form action="/signup" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="ユーザー名" required> <br>
      <input type="password" name="password" placeholder="password" required> <br>
      <input type="password" name="password_confirmation" placeholder="confirm password" minlength="4" maxlength="10" required> <br>
      <%# <input type="file" name="profile_image"> <br> %>
      <input class="submit-btn" type="submit" value="新規登録">
    </form>
  </section>
</main>