<main>
  <section class="center-vertical">
    <h1>ログイン</h1>
    <form action="/signin" method="POST" class="signin">
				<input type="text" name="name" placeholder="ユーザー名" ><br>
				<input type="password" name="password" placeholder="パスワード" >
				<input class="submit-btn" type="submit" value="ログイン" >
    </form>
  </section>
</main>