.post-container {
  display: flex;
  width: 40vw;
  margin: 0 auto;
  word-break: break-all;
}

.post-image {
  width: 40vw;
}

@media(max-width:425px) {
  .post-container {
    width: 80vw;
  }

  .post-image {
    width: 80vw;
  }
}